/.idea
/.htaccess
/bower_components
/config.json
/detail
/docs
/init.sh
/plugin-reference.json
/node_modules
/npm-debug.log
/README.html
/vendor

.sass-cache
.DS_Store
*.psd
[Tt]humbs.db
.Trashes

/composer
/composer.phar
!/composer.json

/wp
/wp-admin
/wp-content/cache
/wp-content/languages
/wp-content/plugins/*
!wp-content/plugins/gravityforms
!wp-content/plugins/advanced-custom-fields-pro
/wp-content/updraft
/wp-content/upgrade
/wp-content/uploads
/wp-content/w3tc-config
/wp-content/advanced-cache.php
/wp-content/db.php
/wp-content/wp-cache-config.php
/wp-content/wp-rocket-config
/wp-content/wflogs
/wp-includes

/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-cli.yml
/wp-comments-post.php
/wp-local-config.php
!/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/yarn-error.log

/wp-content/themes/paperstreet/.gitignore
/wp-content/themes/paperstreet/_additional
/wp-content/themes/paperstreet/_examples
/wp-content/themes/paperstreet/bower_components
/wp-content/themes/paperstreet/composer.lock
/wp-content/themes/paperstreet/detail
/wp-content/themes/paperstreet/docs
/wp-content/themes/paperstreet/dist
/wp-content/themes/paperstreet/img
/wp-content/themes/paperstreet/README.html
/wp-content/themes/paperstreet/README.md
